<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Account Form</h1>
    <form action="/accounts/save" method="post">
        <input type="hidden" name="accountId" value="">

        <label>Account Number:</label>
        <input type="text" name="accountNumber" required><br><br>

        <label>Account Type:</label>
        <input type="text" name="accountType" required><br><br>

        <label>Balance:</label>
        <input type="number" name="balance" required><br><br>

        <button type="submit">Save Account</button>
    </form>
</body>
</html>
